@import '/css/style.css';

html{
    background: linear-gradient(90deg, var(--backgroundImg), #f3e49c);
}

div{
    /* border: 1px solid magenta; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid rgba(255, 255, 255, 0.389); */
    margin: 3%;
    height: 600px;
    max-height: 800px;
}

/* NAV AREA */
.nav{
    background: transparent;
    width: 20%;
    height: 100%;
}

nav{
    height: 60%;
    margin: 10% 0;
    /* border: 1px solid salmon; */
}

nav a{
    margin: 40px 0;
    /* border: 1px solid blue; */
}

.logout{
    margin-top: 70px;
}

.cafeli{
    position: relative;
    display: flex;
    width: 85%;
    max-width: 200px;
    margin: 8% 0;
}

/* MIDDLE AREA */
.content-area{
    background: var(--otherYellow);
    width: 50%;
    height: 100%;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.053), 0 60px 1000px 0 rgba(0, 0, 0, 0.053);
}

.order{
    margin: 20px;
    font-weight: 600;
    font-size: 30px;
}
.order p{
    font-size: 12px;
    font-family: 'Arial';
    font-weight: 100;
    color: var(--gray);
}

.order-on-display{
    background-image: url("https://scontent.fmzt1-1.fna.fbcdn.net/v/t39.30808-6/306903990_176314324925234_7676667969583732654_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=m-U7mlRXDnkAX87ja7O&_nc_ht=scontent.fmzt1-1.fna&oh=00_AT_v0XOBgbCvgy-mCUNzEp1PUetDmnZKj_bW9DJNl8OUuA&oe=6358FEC6");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    
    background-color: var(--backgroundImg);
    height: 150px;
    width: 200px;
    border-radius: 12px;

}

.order-display{
    background-color: rgba(90, 90, 90, 0.5);
    border-radius: 12px;
    height: 80px;
    margin-top: 70px;
    color: var(--white);
    font-weight: bolder;
    font-size: 14px;
}

.order-display p{
    font-family: 'arial';
    font-weight: 100;
}

.bebida{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

.actual{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    height: 120px;
    width: 150px;

}
.estimated-area{
    width: 100px;
}

.arrow-exit{
    height: 40px;
}

.estimated-time{
    width: 80%;
    font-size: 8px;
}

.timebar{
    background-color: rgba(90, 90, 90, 0.3);
    border-radius: 5px;
    height: 5px;
    width: 100%;
}

.timebar div{
    background-color: var(--brighterYelow);
    height: 5px;
    width: 45%;
    border-radius: 5px;
}

.awaiting{
    display: flex;
    font-size: 14px;
    font-weight: 600;
}

.awaiting a{
    font-size: 12px;
    color: var(--brighterYelow);
}

/* USER AREA */
.user-area{
    background-color: var(--lightYellow);
    width: 25%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.053), 0 60px 1000px 0 rgba(0, 0, 0, 0.053);
}

.user-photo{
    border-radius: 50%;
    background-color: var(--backgroundImg);
    height: 100px;
    width: 100px;
    margin-top: 30px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/2991/2991148.png");
    background-size: cover;
    background-position: center;
}

.username{
    font-size: 16px;
    font-family: Arial;
    font-weight: bolder;
    margin: 15px;
}

.role{
    font-size: 14px;
    color: var(--gray);
}

.divider{
    width: 90%;
    border-bottom: 1.7px solid var(--gray);
    margin: 15% 0;
    opacity: 0.5;
}

.status{
    width: 90%;    
}
.on-off{
    background-color: rgba(255, 255, 255, 0.700);
    border-radius: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-around;
}

.icon-on{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--lightYellow);
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.on-off:nth-child(2){
    font-size: 12px;
}

.scheadule{
    color: var(--gray);
    font-size: 8px;
}

.switch{
    position: relative;
    display: inline-block;
    background-color: var(--black);
    border-radius: 20px;
    height: 20px;
    width: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: var(--lightYellow);
    -webkit-transition: .4s ease;
    transition: .4s ease;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

.premium{
    background-image: url(/img/background-premium.jpg);
    background-size: cover;
    margin-top: 100px;
    height: 100px;
    width: 90%;
    border-radius: 10px;
    font-family: 'Abel';
    justify-content: space-evenly;
}

.premium-items{
    cursor: pointer;
    margin-top: 40px;
}

.premium-items a{
    margin-right: 25px;
}

.premium-items img{
    max-width: 50px;
}

/* Movile  */
@media screen and (max-width: 700px) {

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 3px solid rgba(255, 255, 255, 0.389); */
        margin: 2%;
        height: 100%;
        max-height: 100%;
    }

    .nav{
        flex-direction: row;
        width: 100%;
        height: 100px;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0;
    }

    nav a{
        align-items: center;
        justify-content: center;
        font-size: 10px;
        margin: 0 2%;
    }
    
    .logout{
        border-radius: 5px;
        border: 1px solid var(--black);
        margin-top: 0;
        padding: 2px;
        text-align: center;
    }

    .content-area{
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        border-radius: 25px 25px 0 0;
    }


    .user-area{
        width: 100%;
        border-radius: 0 0 25px 25px;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.053), 0 60px 1000px 0 rgba(0, 0, 0, 0.053);
    }
    
}