/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* config */
*{
    transition: 0.4s ease;
}

:root {
    --Yellow: #F6E58D;
    --lightYellow: #F1EBCB;
    --brighterYelow: #F3DA53;
    --otherYellow: #F6F2DD;
    --greyishYellow: #F6EFD8;
    --backgroundImg: #FFF7CD;
    --black: #121212;
    --white: #FBFAF4;
    --gray: #94918A;
  }

html{
    background: linear-gradient(90deg, var(--Yellow), var(--lightYellow));
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: var(--black);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-d{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-t{
    display: flex;
    justify-content: left;
    align-items: center;
}

.center-i{
    display: flex;
    align-items: left;
}

.top{
    justify-content: start;
}

.bottom{
    justify-content: end;
}

.even{
    gap: 5%;
}

.logo{
    position: absolute;
    height: 90px;
    padding-bottom: 190px;
}

.top-spacer{
    padding-top: 200px;
}

.top-part{
    background-color: var(--white);
    border-radius: 25px 25px 0 0;
    height: 200px;
    width: 400px;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.053), 0 60px 200px 0 rgba(0, 0, 0, 0.053);
}

.bottom-part{
    background-color: var(--otherYellow);
    border-radius: 0 0 25px 25px;
    height: 180px;
    width: 400px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.053), 0 60px 1000px 0 rgba(0, 0, 0, 0.053);
}

input{
    background-color: transparent;
    color: var(--gray);
    border-radius: 7px;
    border: 2px solid var(--gray);
    height: 25px;
    width: 150px;
    max-width: 200px;
    opacity: 0.5;
    padding-left: 20px;
    margin: 8px;
    font-family: 'Arial';
}

.inputs{
    margin-top: 55px;
    margin-bottom: -30px;
}

button{
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    height: 28px;
    width: 110px;
    cursor: pointer;
    font-family: 'Arial';
    font-size: 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.button-google{
    cursor: pointer;
    background: transparent;
    color: var(--gray);
    border-radius: 9px;
    border: 2px solid var(--gray);
    height: 30px;
    width: 60%;
    max-width: 200px;
    gap: 10px;
    font-family: 'Arial';
}

.google-icon{
    width: 25px;
}

.icon{
    height: 16px;
}

.space button{
    margin-top: 20px;
}